{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Indexcheck</title>
  <link rel="stylesheet" href="{% static 'indexcheck/css/bootstrap.min.css' %}">
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'indexcheck/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'indexcheck/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'indexcheck/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'indexcheck/vendors/jvectormap/jquery-jvectormap.css' %}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'indexcheck/css/demo/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'indexcheck/images/favicon.png' %}" />
</head>
<body>
<script src="{% static 'indexcheck/js/preloader.js'%}"></script>
  <div class="body-wrapper">
    <div class="main-wrapper mdc-drawer-app-content">
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Indexcheck</span>
          </div>
        </div>
      </header>
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
              {% block content %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <!--<script src="{% static 'indexcheck/js/jquery-3.5.0.min.js' %}"></script>-->
  <script src="{% static 'indexcheck/js/bootstrap.bundle.min.js' %}"></script>
  <!-- plugins:js -->
  <script src="{% static 'indexcheck/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'indexcheck/vendors/chartjs/Chart.min.js' %}"></script>
  <script src="{% static 'indexcheck/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'indexcheck/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'indexcheck/js/material.js' %}"></script>
  <script src="{% static 'indexcheck/js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'indexcheck/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>
</html>


